.hide__cross
    position: absolute
    padding: 2%
    right: 10px
    img
        width: 19px
        height: 19px

.cart
    height: auto
    width: 80vw

    padding: 3%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    h2
        font-size: 34px
        font-family: "BebasNeueBold"
        color: rgb(0, 0, 0)
        line-height: 1.2
        text-align: left
    &__body

        width: 100%
        border: 1px solid black

        &__img
            img
                padding:
                    top: 5%
                    bottom: 5%
                width: 70%
        span
            padding-left: 3.5vw
            .plus, .number, .minus
              font-size: 18px
              cursor: pointer

            p
                font-size: 19px
                font-family: "BebasNeueRegular"
                color: rgb(0, 0, 0)
                line-height: 1.2
                position: absolute
                top: 45%
                transform: translate(-50%, 0)
            select
                position: absolute
                top: 45%
                transform: translate(-50%, 0)
                margin-left: 1vw
        .cross img
            position: absolute
            top: 45%
            transform: translate(-50%, 0)
            margin-left: 2vw
        .buttons
            padding-top: 45%
    &__price
        width: 30%
        height: auto
        border: 1px solid black
        border-top: 0
        float: right
        padding:
            top: 1%
            bottom: 1%
        text-align: center
        span
            font-size: 19px
            font-family: "BebasNeueRegular"
            color: rgb(0, 0, 0)
            line-height: 1.2


    &__titles
        margin-top: 50px
        margin-bottom: 25px
        height: auto
        span
            font-size: 14px
            font-family: "Helvetica"
            color: rgb(89, 89, 89)
            line-height: 1.2
            padding-left: 8vw
    &__details
        padding:
            top: 5%
            left: 5%
            right: 5%
        width: 100%
        border: 1px solid black
        span

            font-size: 19px
            font-family: "BebasNeueRegular"
            color: rgb(0, 0, 0)
            line-height: 1.2
        .point
            margin-bottom: 6%
            form

                p

                    font-size: 14px
                    font-family: "Helvetica"
                    color: rgb(89, 89, 89)
                    line-height: 1.2
    .cost
        margin-top: 5%
        left: 50%
        transform: translate(-50%, 0)
        text-align: center
        span
            font-size: 19px
            font-family: "BebasNeueRegular"
            color: rgb(0, 0, 0)
            line-height: 1.2
        .price
            color: rgb(180, 42, 10)
    form
        .form-row
            input, select
                border-radius: 10px
                background-color: rgb(237, 234, 234)
                height: 49px
            input, select, textarea
                font-size: 16px
                font-family: "BebasNeueBold"
                color: rgb(129, 129, 129)
                line-height: 1.5
            textarea
                color: rgb(129, 129, 129)
                padding-top: 2%
                border: 0
                border-radius: 10px
                background-color: rgb(237, 234, 234)
.btn_first
    margin-top: 3%
    font-size: 20px
    font-family: "BebasNeueBold"
    color: rgb(180, 42, 10)
    line-height: 1.5
    border-radius: 10px
    background-color: white
    border: 2px solid rgb(180, 42, 10)
    width: 162px
    height: 34px
.btn_second
    margin-top: 3%
    font-size: 20px
    font-family: "BebasNeueBold"
    color: white
    line-height: 1.5
    border-radius: 10px
    border: 2px solid rgb(180, 42, 10)
    background-color: rgb(180, 42, 10)
    width: 162px
    height: 34px

.buttons-cart

    .bck
        float: right
        font-size: 20px
        font-family: "BebasNeueBold"
        color: rgb(180, 42, 10)
        line-height: 1.5
        border-radius: 10px
        background-color: white
        border: 2px solid rgb(180, 42, 10)
        width: 162px
        height: 34px

    .frwrd
        float: right
        font-size: 20px
        font-family: "BebasNeueBold"
        color: white
        line-height: 1.5
        border-radius: 10px
        border: 2px solid rgb(180, 42, 10)
        background-color: rgb(180, 42, 10)
        width: 162px
        height: 34px
.access
    span
        p
            font-size: 19px
            font-family: "BebasNeueRegular"
            color: rgb(0, 0, 0)
            line-height: 1.2
            position: relative
            left: 0
            top: 50%
            transform: translate(0,0)
            vertical-align: middle

// cart

.second_cart, .third_cart
    display: none
.cart_set
    position: fixed
    height: 100vh
    width: 100vw
    background: white
    z-index: 9999
    overflow: scroll

.buttons
    padding-left: 3.6vw
    span, button
        padding-left: 0
        font-weight: bold
