.commodity
  .com
    padding-top: 50px
    text-align: center
  &__description
    padding-top: 50px
    padding-left: 50px
    img
      margin-bottom: 10px
      margin-left: 10px
  &__title
    font-size: 34px
    font-family: "BebasNeueBold"
    color: rgb(0, 0, 0)
    line-height: 1.2



  &__price
    font-size: 33px
    font-family: "BebasNeueRegular"
    color: rgb(180, 42, 10)
    line-height: 1.2


  &__info
    margin-top: 35px
  &__subtitle
    font-size: 19px
    font-family: "BebasNeueRegular"
    color: rgb(0, 0, 0)
    line-height: 1.2



  &__addition
    margin-top: 15px
    margin-right: 15%
    margin-bottom: 30px
    font-size: 18px
    font-family: "Helvetica"
    color: rgb(89, 89, 89)
    line-height: 1.2



    img
      margin: 0
      margin-left: 2px
      margin-right: 3px
  &__plus, &__number, &__minus
    background: none
    border: 0
    font-size: 18px
    cursor: pointer
  &__buy
    .add_cart
      margin-bottom: 5%
      background-color: red
      color: white
      border: 0
      border-radius: 10px
      height: 40px
      border: 5px solid red
      padding-left: 20px
      padding-right: 20px
      font-size: 20px
      font-family: "BebasNeueBold"
      line-height: 1.5
    .buy
      margin-bottom: 5%
      border: 5px solid red
      height: 40px
      border-radius: 10px
      color: red
      margin-left: 30px
      padding-left: 20px
      padding-right: 20px
      background: white
      font-size: 20px
      font-family: "BebasNeueBold"
      line-height: 1.5


  &-visit
    width: 1000px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding: 50px 20px
    border: 3px solid red
