.daily_product
    display: none
    background: white
    z-index: 99999
    padding-left: 75px
    padding-right: 50px
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    min-width: 40vw
    min-height: 514px
    max-height: 560px
    &__image
        text-align: center
        img
            width: 80%
    h2
        text-align: center
        margin-bottom: 40px
        font-size: 35.341px
        font-family: "BebasNeueBold"
        color: rgb(180, 42, 10)
        line-height: 1.2


    h3
        font-size: 26px
        font-family: "BebasNeueBold"
        color: rgb(0, 0, 0)
        line-height: 1.2



    &__price
        font-size: 26px
        font-family: "BebasNeueRegular"
        color: rgb(89, 89, 89)
        line-height: 1.2


    input
        border: 5px solid #cc3300
        width: 250px
        height: 50px
        border-radius: 10px
        margin-top: 10px
        float: right
        color: white
        border-radius: 10px
        background-color: rgb(180, 42, 10)
        width: 169px
        height: 43px
        font-size: 20px
        font-family: "BebasNeueBold"
        color: rgb(255, 255, 255)
        line-height: 1.2



.background
    display: none
    z-index: 99998
    position: fixed
    background: black
    opacity: 0.6
    height: 100vh
    width: 100vw
