.fight
    z-index: 99999
    position: fixed
    background: url('../img/fight.png') no-repeat
    background-size: auto 100%
    background-position: center
    height: 80vh
    width: 70%
    display: none
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    .cross
        position: absolute
        right: 8%
        top: 5%

    .row

        .text
            top: 50%
            transform: translate(0, 15%)
            width: 100%
            text-align: center
            float: right
            h3

                font-size: 420%
                font-family: "BebasNeueBold"
                color: rgb(255, 255, 255)
                line-height: 1.2
            h4
                  font-size: 300%
                  font-family: "BebasNeueRegular"
                  color: rgb(192, 193, 195)
                  line-height: 1.2
            h2

                font-size: 1400%
                font-family: "BebasNeueBold"
                color: rgb(201, 45, 55)
                line-height: 1.2
