footer
    background: white
    .main
        margin-bottom: 1%
        display: none
        iframe
            width: 100%
            height: 300px
        z-index: 40
        background-color: rgb(40, 40, 40)
        height: auto
        z-index: 22
        padding-top: 1%
        .row
            padding-bottom: 2%

            ul
                margin-right: 3%
                margin-top: 3%
                float: right
                list-style: none
                text-align: left
                li
                  font-size: 14px
                  font-family: "Helvetica"
                  color: rgb(214, 214, 214)
                  line-height: 1.714
                  text-align: left



                p
                    padding-bottom: 2%
                    font-size: 25px
                    font-family: "BebasNeueBold"
                    color: rgb(255, 255, 255)
                    line-height: 1.2
                    text-align: left
                    z-index: 33
                    text-transform: uppercase
            .social-networks
                ul
                    list-style: none
                    li
                        padding-bottom: 40%
    .mini
        background-color: rgb(40, 40, 40)
        height: auto
        padding:
            top: 2rem
            bottom: 1rem
        ul
            color: white
            list-style-type: none
            li, p
                display: inline
            li

                font-size: 14px
                font-family: "Helvetica"
                color: rgb(214, 214, 214)
                line-height: 1.714
                text-align: left
                z-index: 11
            br
                display: none
            li p
                text-transform: uppercase
                font-size: 20px
                font-family: "BebasNeueBold"
                color: rgb(255, 255, 255)
                text-align: left

        .social_img
            padding:
                left: 1%
                right: 1%

footer:hover .main
            display: block