.form_something
    display: none
    background: white
    z-index: 99999
    position: fixed
    background-image: url("../img/Слой 588.png")
    background-repeat: no-repeat
    background-size: 100% 100%
    width: 650px
    height: 550px
    input
        margin-left: 75px
        font-size: 16px
        font-family: "BebasNeueBold"
        color: rgb(129, 129, 129)
        line-height: 1.2
        z-index: 606
    h2
        color: white
        margin-top: 50px
    &__cross
        text-align: right
        padding-top: 20px
        padding-bottom: 10px
        padding-right: 20px
