.free-call
  width: 600px
  margin: auto
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  h2
    text-align: center
    font-size: 50px
    margin-bottom: 55px
    font-family: "BebasNeueBold"
    color: rgb(0, 0, 0)
    line-height: 1.2
    z-index: 600

  input
    margin-left: 50px
    margin-right: 50px
    width: 500px
    height: 40px
    background-color: #F0F0F0
    border: none
    border-radius: 5px
    margin-top: 10px
    padding-left: 10px
  &__submit
    background-color: white
    border: 4px solid #00cc33
    font-size: 24px
    color: #00cc33
    height: 40px
    margin-top: 70px
    font-family: "BebasNeueBold"
    line-height: 1.5
    z-index: 653
