.header
  .hide-search
      display: none
  width: 100%
  background-color: rgb(51, 51, 51)
  color: white
  display: flex
  padding: 15px 5%
  padding-bottom: 0
  font-size: 25px
  img
    margin-bottom: 7px
  *
    vertical-align: middle
  &__language
    font-size: 150%
  &__title
    text-align: center
    font-size: 25px
  &__left
      display: inline
      img
        margin-top: 15px
        height: 20px
      form
         input
             margin-top: 7px
  &__left, &__center, &__right
    width: 33%
    font-size: 22px
  &__center
    text-align: center
    padding-right: 30px
    font-size: 32.465px
    font-family: "BebasNeueBold"
    color: rgb(255, 255, 255)
    z-index: 77
    line-height: 1.9


  &__left
    width: 42.5%
    span

        font-size: 32.465px
        font-family: "BebasNeueBook"
        color: rgb(255, 255, 255)
        line-height: 1.9
        z-index: 83


  &__center
    width: 15%
  &__right
    width: 42.5%
    text-align: right
    span
        font-size: 22px
        font-family: "BebasNeueBook"
        color: rgb(255, 255, 255)
        line-height: 2.5
        z-index: 79
  &__menu
    margin-right: 7%
    margin-left: 3%
  &__language
    margin-right: 7%
  &__play
    margin-right: 7%
  &__first
    margin-right: 4%
    margin-left: 10%
  &__cart
    float: right
    margin-right: 10px
    margin-top: 13px
    margin-left: 7%
  &__whats
    margin-left: 4%
  &__nav
    padding: 2%
    margin-top: 65px
    display: none
    position: absolute
    left: 0
    background-color: white
    z-index: 999
    color: black
    font-size: 16px
    .list-group
        border: 0
    .list-group-item
        border: 0
        border-bottom: 2.5px solid rgba(0,0,0,.125)
    .last
        border: 0
    ul
        width: 200px

    li
        span
            width: 30%
            img
                margin-top: 4px
        padding-bottom: 0
        p
            width: 50%
        font-size: 21.702px
        font-family: "BebasNeueRegular"
        color: black
        padding-bottom: 0
        z-index: 558
        cursor: pointer
        &:hover
            color: rgb(180, 42, 10)
        .sub__nav
            display: none
            margin-top: 0
            list-style: none
            li
                font-size: 16.702px
                font-family: "BebasNeueRegular"
                color: grey
                line-height: 1.2
                text-align: justify
                text-decoration: underline
                margin-left: 20%


.sub-navigation
    width: 100%
    min-height: 70vh
    background: url('../img/PIN-UP.png')
    background-position: center
    background-repeat: no-repeat
    background-size: auto 100%
    display: block
.sub__nav__cont
    display: none
    margin-top: 0
    list-style: none
    li
        margin-left: 20%
        font-size: 16.702px
        font-family: "BebasNeueRegular"
        color: grey
        line-height: 1.2
        text-align: justify
        text-decoration: underline
        p
            padding-top: 5px
            width: 50%
        span
            width: 20%

.shop_buttons
    list-style: none
    margin-top: 33%
    font-size: 19px
    font-family: "BebasNeueBold"
    color: rgb(255, 255, 255)
    text-align: center
    span
        margin: 3%
    .main-item
        display: block
    .hover-item
        display: none
    p
        padding-top: 5px
        &:hover
            cursor: pointer
    .col
        &:hover
            .hover-item
                display: block
            .main-item
                display: none
#x
    display: none
.labelx
    display: none
.up
    z-index: 9998
    position: fixed
    margin-top: 80px
    right: 50px
.call
    z-index: 9998
    position: fixed

    margin-bottom: 3%
    right: 45px
