@import "fonts"
@import "footer"
@import "main-content"
@import "swp"
@import "free_call"
@import "form_for_something"
@import "commodity"
@import "welcome"
@import "promotion"
@import "daily_product"
@import "header"
@import "cart"
@import "shop_page"
@import "fight_prices"
@import "media"
html
    margin: 0
    padding: 0
    height: auto
    overflow-x: hidden
body
    background-color: white
    margin: 0
    padding: 0
    height: auto
    overflow-x: hidden
    width: 100%
    height: auto
    font-family: 'Roboto', sans-serif

a
    text-decoration: none
    color: inherit
    &:hover
        color: inherit
        text-decoration: none
.row.commodity
    width: 100%
