.main-content
    height: auto
.buttons
    height: 5vh
    button
        width: 330px
        position: absolute
        left: 50%
        transform: translate(-50%, 0)
        border-radius: 10px
        background-color: rgb(180, 42, 10)
        color: white
        width: 176px
        height: 34px
        z-index: 152

        font-size: 20px
        font-family: "BebasNeueBold"
        color: rgb(255, 255, 255)
        line-height: 1.8
        text-align: center
        border: 0
        z-index: 153
.show-more
    font-size: 16px
    font-family: "BebasNeueRegular"
    color: rgb(180, 42, 10)
    text-decoration: underline
    line-height: 1.2
    text-align: center
    position: absolute
    left: 50%
    transform: translate(-50%, 0)
    z-index: 180
    cursor: pointer
.shop
    margin-bottom: 10%
.subscribe
    .sub-form
        margin-bottom: 10%
        padding:
            top: 4%
            left: 6%
            right: 6%
        border-radius: 20px
        background-color: rgb(40, 40, 40)
        height: 255px
        z-index: 170
        #inputEmail3
            border-radius: 10px
            background-color: rgb(237, 234, 234)

            height: 40px
            text-transform: uppercase
            font-size: 17px
            font-family: "BebasNeueBold"
            color: rgb(129, 129, 129)
            line-height: 1.6
            text-align: left
            z-index: 175





        h4
            font-size: 20px
            font-family: "BebasNeueBold"
            color: rgb(255, 255, 255)
            line-height: 1.2
            text-align: left
            z-index: 177
        p
            font-size: 14px
            font-family: "Helvetica"
            color: rgb(214, 214, 214)
            line-height: 1.2
            text-align: left
            z-index: 178
        button
            border-radius: 10px
            background-color: rgb(180, 42, 10)
            width: 155px
            height: 34px
            z-index: 171
            border: 0
            font-size: 20px
            font-family: "BebasNeueBold"
            color: rgb(255, 255, 255)
            line-height: 1.4
            text-align: center
            z-index: 172
    .social-networks
        ul
            list-style: none
            li
                padding-bottom: 40%
    .contacts
        top: 4rem
        text-align: justify

        font-size: 20px
        font-family: "BebasNeueRegular"
        color: rgb(0, 0, 0)
        line-height: 1.2
        z-index: 298
        button

            margin-left: 8%
            margin-top: 6%
            z-index: 167
            font-size: 20px
            font-family: "BebasNeueBold"
            color: rgb(180, 42, 10)
            line-height: 1.2
            z-index: 166
            border-width: 3px
            border-color: rgb(180, 42, 10)
            border-style: solid
            border-radius: 10px
            background: white
            width: 149px
            height: 28px
            z-index: 165
    .shop-img
        margin-top: 3rem
.blog
    padding-bottom: 7%
    background-color: rgb(237, 234, 234)
    height: auto

    .news

        padding-top: 6%
        h4
            padding: 3%
            font-size: 30px
            font-family: "BebasNeueBold"
            color: rgb(19, 18, 18)
            line-height: 1.2
            text-align: left

            z-index: 312
        p
            padding:
                left: 3%
                right: 3%
.contacts
    width: 50%
.shop-img
    width: 50%
