@media screen and (min-width: 2000px)
    .swiper_3 .swiper-slide
        padding-top: 10%
@media screen and (max-width: 1024px)
    .fight
        .row
            .text
                h2
                    font-size: 1050%
                h4
                    font-size: 250%
    .daily_product
        input
            margin-left: 180px
    .promotion, .form_something, .daily_product
        top: 35%
@media screen and (max-width: 870px)
    .header__cart
        margin-top: 3px
@media screen and (max-width:800px)
        .fight
            .row
                .text
                    h2
                        font-size: 1200%
                    h4
                        font-size: 200%
                    h3
                        font-size: 350%
@media screen and(max-width: 780px)
    .show
        display: block
    .hide
        display: none
    .daily_product
        top: 35%
@media screen and (max-width: 770px)
    .up, .call
        position: fixed
        top: 15vh
    .call
        right: 5px
    .up
        right: 10px
    .header__cart
        margin-top: 1px
    .subscribe .shop-img
        margin-top: 5rem
    .news img
        height: auto
    .subscribe .social-networks
        top: 5vh
    .social-networks
        left: -3vw
    .subscribe
        .contacts
            font-size: 19px
    .swiper_1
        height: 400px
    .swiper_3
        width: 100%
        height: 700px
    .social-networks
        li
            display: inline
    .sub-form
        margin-top: 5%
    .contacts
        top: 0
    .shop-img
        margin-top: 15%

@media screen and (max-width: 760px)
    .swiper_3
        width: 100%
        height: 400px
    .swiper_3 .swiper-slide
        height: 100%
        padding-top: 15%
        h1
          font-size: 25px
          font-family: "BebasNeueBold"
          color: rgb(255, 255, 255)
          line-height: 0.7
          text-align: center
          text-shadow: 0px 0px 51px rgba(10, 7, 3, 0.41)

          z-index: 44
        p
            font-size: 18px
            font-family: "BebasNeueBold"
            color: rgb(255, 255, 255)
            line-height: 1.2
            text-shadow: 0px 0px 51px rgba(10, 7, 3, 0.41)
            z-index: 45
            text-align: center
        button
            border-width: 3px
            border-color: rgb(255, 255, 255)
            border-style: solid
            border-radius: 10px
            margin-top: 3%

            width: 121px
            height: 25px
            z-index: 48
            background: none
            font-size: 15px
            font-family: "BebasNeueBold"
            color: white
            line-height: 1.5
            text-align: center
            z-index: 49
            text-transform: uppercase
            &:hover
                color: inherit
                background: white
@media screen and (max-width: 770px)
    .cart__body .buttons
        padding-top: 0
        padding-right: 0
        text-align: center
    .cart__body span
        padding-right: 0
        padding-left: 0
        text-align: center
        padding:
            top: 5px
            bottom: 5px

    .cart
        transform: translate(-50%,-13%)
        padding-left: 0
        &__titles
            display: none
        &__body
            select
                margin-bottom: 5px
            .buttons
                padding-left: 0
                margin-top: 10px
                height: auto
                span
                    margin-top: 30px

            .cross
                img
                    position: static
                    margin-left: 3.5vw
            &__img
                img
                    width: 100%
@media screen and (max-width: 685px)
    .cart__body .buttons
        padding-top: 0
        padding-right: 0
        text-align: center
    .cart__body span
        padding-right: 0
        padding-left: 0
        text-align: center
        padding:
            top: 5px
            bottom: 5px

    .cart
        transform: translate(-50%,-13%)
        padding-left: 0
        &__titles
            display: none
        &__body
            select
                margin-bottom: 5px
            .buttons
                padding-left: 0
                margin-top: 10px
                height: auto
                span
                    margin-top: 30px

            .cross
                img
                    position: static
                    margin-left: 3.5vw
            &__img
                img
                    width: 100%
    .promotion, .form_something, .daily_product
        top: 50%
    .social-header
        margin-top: 10px
    .form_something
        display: none
        background: white
        z-index: 99999
        position: fixed
        background-image: url("../img/Слой 588.png")
        background-repeat: no-repeat
        background-size: auto 100%
        min-width: 65vw
        min-height: 55vh
        max-width: 100vw
        padding-bottom: 5vh
        input

            font-size: 16px
            font-family: "BebasNeueBold"
            color: rgb(129, 129, 129)
            line-height: 1.2
            z-index: 606
            width: 95vw
            margin-left: 2.5vw
            margin-right: 2.5vw
        button
            width: 65px
        h2
            color: white
            margin-top: 50px
            font-size: 150%
        &__cross
            text-align: right
            padding-top: 20px
            padding-bottom: 10px
            padding-right: 20px

    .phonenumber
        display: none
@media screen and (max-width: 640px)
    .subscribe .shop-img
        margin-top: 6rem
        margin-bottom: 1rem
    .subscribe .contacts button
        margin: 0
    .subscribe .social-networks ul li
            padding-left: 1%
            padding-right: 0
    .swiper_1 .swiper-slide
        padding-left: 30vw
        padding-right: 0
    .swiper_2 .swiper-slide
        padding-left: 15vw
        padding-right: 0
        h4, p
            text-align: left
            margin-left: 10vw
    .swiper-button-next, .swiper-button-prev
        width: 11vw
    .news img
        height: auto
    footer .main ul li
        padding: 0
        padding-bottom: 1%
    footer .mini ul
        br
            display: block
    .swiper_3
        height: 350px
    .cart__body .buttons
        padding-top: 0
        padding-right: 0
        text-align: center
    .cart__body span
        padding-right: 0
        padding-left: 0
        text-align: center
        padding:
            top: 5px
            bottom: 5px

    .cart
        transform: translate(-50%,-13%)
        padding-left: 0
        &__titles
            display: none
        &__body
            select
                margin-bottom: 5px
            .buttons
                padding-left: 0
                margin-top: 10px
                height: auto
                span
                    margin-top: 30px

            .cross
                img
                    position: static
                    margin-left: 3.5vw
            &__img
                img
                    width: 100%
@media screen and (max-width: 500px)
    .mobile
        transform: translate(-50%, -20%)
    .daily_product input
        margin-left: 0
    .header__cart
        margin-top: 13px
    .subscribe .social-networks
        top: 2.5vh
    .subscribe
        .sub-form
            margin-bottom: 0
        .contacts
            top: 2rem
            width: 60%
        .shop-img
            margin-top: 1rem
            width: 40%
    .swiper_1
        height: 320px
        .swiper-slide
            padding-left: 23vw
            padding-right: 0
    .social-networks
        left: 0
    footer
        .social-networks
            left: 1%
    .swiper_3
        height: 350px
    .swiper_3 .swiper-slide
        height: 350px
@media screen and (max-width: 450px)
    .up, .call
        position: fixed
        top: 15vh
    .call
        right: 5px
    .up
        right: 10px
    .fight
        .row
            .text
                h3

                    font-size: 383%

                h4
                    font-size: 259%

                h2
                    font-size: 800%

    .cart__body .buttons
        padding-top: 0
        padding-right: 0
        text-align: center
    .cart__body span
        padding-right: 0
        padding-left: 0
        text-align: center
        padding:
            top: 5px
            bottom: 5px

    .cart
        transform: translate(-50%,-13%)
        padding-left: 0
        &__body
            .buttons
                padding-left: 0
                margin-top: 10px
                height: auto
                span
                    margin-top: 30px

            .cross
                img
                    position: static
                    margin-left: 3.5vw
            &__img
                img
                    width: 100%

@media screen and (max-width: 400px)
    .social-header
        display: none

@media screen and (max-width: 350px)
    body
        max-width: 350px
    .contacts
        padding-left: 0
    .shop-img img
        width: 120%
    .subscribe
        padding-bottom: 8%
    .subscribe .sub-form
            margin-bottom: 0
    .subscribe .contacts
            top: 2rem
    .swiper_3
        height: 320px
        button
            margin-top: 1%
    .swiper_3 .swiper-slide
        height: 320px
    .swiper_1 .swiper-slide
        padding-left: 20vw
        padding-right: 0
        margin-bottom: 0
    .swiper_2 .swiper-slide
        padding-left: 8vw
        padding-right: 0
    .fight
        .row
            .text
                top: 35%
