.promotion
    display: none
    z-index: 99999
    position: fixed
    background: white
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    min-width: 70vw
    min-height: 520px
    max-height: 560px

    .promotion__product
        padding-left: 5%


    &__title
        font-size: 250%
        padding-top: 70px
        font-family: "BebasNeueBold"
        color: rgb(180, 42, 10)
        line-height: 1.5
        text-align: center


    &__description

        margin-bottom: 5%
        font-size: 130%
        font-family: "BebasNeueBold"
        color: rgb(0, 0, 0)
        line-height: 1.2
        text-align: center
    h4

        font-size: 26px
        font-family: "BebasNeueBold"
        color: rgb(0, 0, 0)
        line-height: 1.2




    p
        font-size: 26px
        font-family: "BebasNeueRegular"
        color: rgb(180, 42, 10)
        line-height: 1.2


        color: #cc3300
    s
        margin-left: 10px
        color: black
    &__cross
        text-align: right
        padding-top: 15px
        padding-right: 10px
        padding-bottom: 40px
        &__products
            margin: auto
.show
    display: none
