.shop
    margin-top: 5%
    &__body

        h1
            text-align: center
            font-size: 45px
            padding-bottom: 5%
            font-family: "BebasNeueBold"
            color: black
            line-height: 1.2


        .row
            padding-left: 5%
            .product
                p

                    text-transform: uppercase
                    text-align: justify
                    font-size: 26px
                    font-family: "BebasNeueRegular"
                    color: rgb(89, 89, 89)
                    line-height: 1.2
                    z-index: 277
                    s
                      font-size: 26px
                      font-family: "BebasNeueRegular"
                      color: rgb(180, 42, 10)
                      line-height: 1.2
                      text-align: left

                      z-index: 114



                h4
                    text-transform: uppercase
                    font-size: 26px
                    font-family: "BebasNeueBold"
                    color: rgb(0, 0, 0)
                    line-height: 1.2
                    z-index: 278
