.swiper_1
    .swiper-button-prev, .swiper-button-next
        display: none
    &:hover
        .swiper-button-prev, .swiper-button-next
            display: block
            transition: 0.5s
    width: 100%
    height: 400px
    .swiper-wrapper
        padding-left: 5%
    .swiper-slide
        text-align: justify
        font-size: 18px
        background: #fff
        top: 70px
        p

            text-transform: uppercase
            text-align: justify
            font-size: 26px
            font-family: "BebasNeueRegular"
            color: rgb(89, 89, 89)
            line-height: 1.2
            z-index: 277
            s
              font-size: 26px
              font-family: "BebasNeueRegular"
              color: rgb(180, 42, 10)
              line-height: 1.2
              text-align: left

              z-index: 114



        h4
            text-transform: uppercase
            font-size: 26px
            font-family: "BebasNeueBold"
            color: rgb(0, 0, 0)
            line-height: 1.2
            z-index: 278
.swiper-button-next

    width: 5vw
    background-image: url('../img/right.png')
    background-size: auto 80%
.swiper-button-prev
    width: 5vw
    background-image: url('../img/left.png')
    background-size: auto 80%

.swiper_2
    .swiper-button-prev, .swiper-button-next
        display: none
    &:hover
        .swiper-button-prev, .swiper-button-next
            display: block
    margin-bottom: 5%
    width: 100%
    height: auto
    max-height: 1140px
    .swiper-wrapper
        padding-left: 3%
    .swiper-slide

        text-align: center
        font-size: 18px
        background: #fff
        min-height: 380px

        text-align: justify
        font-size: 18px
        background: #fff
        top: 5vh
        p
            text-transform: uppercase
            text-align: justify
            font-size: 26px
            font-family: "BebasNeueRegular"
            color: rgb(89, 89, 89)
            line-height: 1.2
            z-index: 277

        h4
            text-transform: uppercase
            font-size: 26px
            font-family: "BebasNeueBold"
            color: rgb(0, 0, 0)
            line-height: 1.2
            z-index: 278

.swiper_3
    width: 100%
    height: auto
    .swiper-slide
        background: url('../img/background_for_slider.png')
        background-repeat: no-repeat
        background-size: 100% 100%
        text-align: center
        font-size: 18px
        height: 867px
        padding-top: 20%
        /* Center slide text vertically */

        h1
          font-size: 100px
          font-family: "BebasNeueBold"
          color: rgb(255, 255, 255)
          line-height: 1.2
          text-align: center
          text-shadow: 0px 0px 51px rgba(10, 7, 3, 0.41)

          z-index: 44
        p
            font-size: 30px
            font-family: "BebasNeueBold"
            color: rgb(255, 255, 255)
            line-height: 1.2
            text-shadow: 0px 0px 51px rgba(10, 7, 3, 0.41)
            z-index: 45
            text-align: center
        button
            border-width: 3px
            border-color: rgb(255, 255, 255)
            border-style: solid
            border-radius: 10px
            margin-top: 3%

            width: 221px
            height: 50px
            z-index: 48
            background: none
            font-size: 20px
            font-family: "BebasNeueBold"
            color: white
            line-height: 2.3
            text-align: center
            z-index: 49
            text-transform: uppercase
            &:hover
                color: inherit
                background: white





    .swiper-pagination-white
        background: none
        border: 1px solid white
    .swiper-pagination-white .swiper-pagination-bullet-active
        background: #fff
.com .swiper-container
    width: 100%
    margin-left: auto
    margin-right: auto

.swiper-slide
  background-size: 100% auto
  background-position: center
  background-repeat: no-repeat

.com .gallery-top
    width: 100%
    height: 90%
    margin-left: auto
    margin-right: auto

.gallery-top
    height: 90%
    width: 100%
    .swiper-slide
        height: 60vh
        background-size: 100% auto


.gallery-thumbs
    height: 30vh
    box-sizing: border-box
    padding: 10px 0
.gallery-thumbs .swiper-slide
  width: 30%
  height: 100%
  opacity: 0.4

.gallery-thumbs .swiper-slide-thumb-active
  opacity: 1
