.welcome
  padding-left: 75px
  padding-right: 50px
  position: absolute
  height: 600px
  padding-top: 65px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background-image: url("../img/Слой 592.png")
  background-repeat: no-repeat
  background-size: 100% 100%
  color: white
  &__title
    float: left
    width: 100%
    margin-bottom: 45px
  &__description
    font-size: 20px
    margin-bottom: 40px
    width: 530px
  input
    width: 500px
    height: 40px
    background-color: #F0F0F0
    border: none
    border-radius: 5px
    margin-top: 10px
    padding-left: 10px